<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name ="Console" type="log4net.Appender.ConsoleAppender">
			<layout type ="log4net.Layout.PatternLayout">
				<conversionPattern value="[%property{ServerType}][%level][%date][%thread]%message %newline"/> <!-- %-5 = -5 왼쪽 패딩 -->
			</layout>
			<threshold value="Info" /> <!-- Console의 임계치 설정 -->
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="D:\C3\RP\logs\real\" /> <!-- 파일 저장 경로 -->
			<datePattern value="[REAL] R_WEB_PROJECT_yyyy-MM-dd.'log'"/> <!-- 로그 파일의 날짜 패턴을 지정 -->
			<staticLogFileName value="false"/> <!-- 파일명 변경 여부 -->
			<appendToFile value="true"/> <!-- 기존 로그 파일에 추가 여부 -->
			<rollingStyle value="Date"/> <!-- 로그 파일의 롤링 방식을 지정 Date, Size 등의 방식 -->
			<maxSizeRollBackups value="100"/> <!-- 로그 파일의 최대 백업 횟수 -->
			<maximumFileSize value="15MB"/> <!-- 로그 파일의 최대 크기 -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%property{ServerType}][%level][%date][%thread] %message %newline"/>
			</layout>
			<threshold value="Info" /> <!-- RollingLogFileAppender의 임계치 설정 -->
		</appender>
		<root>
			<level value = "Info"/> <!-- 설정 이상의 레벨만 나옴-->
			<appender-ref ref="Console"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
</configuration>